<p>employee</p>

<p>Welcome {{username}}</p>

{{!-- 
<div class="writeUp">
    <h1>Counseling statements</h1>
    <h3>Need attention:</h3>
    {{#each writeups as |writeup| }}
    {{#unless acknowledged}}
    <div class="writeupList">
        {{> writeup-partial}}
    </div>
    {{/unless}}
    {{/each}}
    <h3>Previous documents:</h3>
    {{#each writeups as |writeup| }}
    {{#if acknowledged}}
    <div class="writeupList">
        {{> writeup-partial}}
    </div>
    {{/if}}
    {{/each}}
</div> --}}