<p>employee</p>

<p>Welcome {{username}}</p>


<div class="writeUp">
    <h2>Need attention:</h2>

    {{#each writeups}}
    {{#unless acknowledged}}
    <div class="writeupList">
        <a href="/writeup/{{id}}">{{date_created}}</a>
    </div>
    {{/unless}}
    {{/each}}

</div>