<p>EMPLOYEE</p>

<p>Welcome, {{username}}</p>

<div class="writeUp">
    <h1>Counseling statements</h1>
    <h3>Need attention:</h3>
    {{#each writeups as |writeup| }}
    {{#unless acknowledged}}
    <div class="writeupList">
        {{> writeup-modal-unacknowledged-partial}}
    </div>
    {{/unless}}
    {{/each}}
    <h3>Previous documents:</h3>
    {{#each writeups as |writeup| }}
    {{#if acknowledged}}
    <div class="writeupList">
        {{> writeup-modal-acknowledged-partial}}
    </div>
    {{/if}}
    {{/each}}
</div> 


<script>
    document.addEventListener("click", function(event) {
    if (event.target.classList.contains("open-modal-button")) {
        var index = event.target.getAttribute("data-index");
        var modalId = "WriteUp" + index;
        
        $('#' + modalId).modal('show');      
    }
    
});
</script>
