{{!-- <div class="sidebar" style="border: 2px solid black">
  <a class="active" href="home">Home</a>
  <a href="counseling">Counseling</a>
  <a href="Praise">Praise</a>
  <a href="records">Employee Records</a>
  <a href="policy">Employee Records</a>
</div> --}}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 mb-4" style="border: 2px solid black">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-12 col-md-4 text-center" style="border: 2px solid black">
            <img src="./examples/papers.jpg" class="img-fluid">
          </div>
          <div class="col-12 col-md-8" style="border: 2px solid black">
            <div class="card-body">
              <h5 class="card-title">Overwhelming paperwork?</h5>
              <p class="card-text">Sometimes things can get hectic in the workplace! We know that. That is why we are
                trying
                to take one thing that can be time consuming and make it as easy as possible!</p>
              <a href="/signup" class="btn btn-outline-light btn-dark">Sign Up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 mb-4" style="border: 2px solid black;">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-12 col-md-8" style="border: 2px solid black;">
            <div class="card-body">
              <h5 class="card-title">Let us help!</h5>
              <p class="card-text">Get your company signed up and make the documentation process a quick plainless experience for all. A team that knows their leaders are giving consistent feedback and ensuring a comfortable workplace are more likely to give better results with their performance.</p>
              <a href="/login" class="btn btn-outline-light btn-dark">Login</a>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center" style="border: 2px solid black;">
            <img src="./examples/bookshelf.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 mb-4" style="border: 2px solid black">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-12 col-md-4" style="border: 2px solid black">
            <img src="./examples/Workplace.jpg" class="img-fluid">
          </div>
          <div class="col-12 col-md-8" style="border: 2px solid black">
            <div class="card-body">
              <h5 class="card-title">Let the results speak!</h5>
              <p class="card-text">Watch your team feel confident and excited to work as they know they work in a safe and nurturing enviroment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>