<div class="alert"></div>
<div class="login-card">
    <h1 class="login-title" style="font-family: 'Source Serif Pro', serif; font-weight: bold;">Login</h1>
    <form class="login-form">
        <div class="form-group mb-3">
            <label for="username-login">Username:</label>
            <input class="form-input form-control" class="form-label" type="text" id="username-login" />
       </div>
        <div class="form-group mb-3">
            <label for="password-login">Password:</label>
            <input class="form-input form-control" class="form-label" type="password" id="password-login" />
        </div>
        <div class="form-group mb-3">
             <button class="btn btn-outline-light btn-dark" type="submit">Login</button>
        </div>
    </form>
</div>
