<div class="signup-card">
    <h1 class="signup-title" style="font-family: 'Source Serif Pro', serif; font-weight: bold;">Sign Up</h1>
    <form class="signup-form">
        <div class="form-group mb-3">
            <label for="email-signup" class="form-label">Email:</label>
            <input class="form-input form-control" type="text" id="email-signup" />
        </div>
        <div class="form-group mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input class="form-input form-control" type="text" id="username-signup" />
        </div>
        <div class="form-group mb-3">
            <label for="password-signup" class="form-label">Password:</label>
            <input class="form-input form-control" type="password" id="password-signup" />
        </div>
        <div class="form-group mb-3">
            <label for="position-signup">Position:</label>
            <select class="form-select" id="position-signup">
                <option value="1">Employee</option>
                <option value="2">Manager</option>
            </select>
        </div>
        <div class="form-group mb-3">
             <button class="btn btn-outline-light btn-dark" type="submit">Sign Up</button>
        </div>
    </form>
</div>
